/* IMPORTS */

/* VARIABLES */

/* MIXINS */


.mainDisclaimer{
    height: 100vh;
    background-size: cover;
}

.mainDisclaimer p{
    display: block;
    margin: auto;
    width: 50%;
    padding: 1rem;

    background-color: rgba(245, 245, 245, 0.5);
    border: 1px whitesmoke solid;

    text-align: center;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}