/* IMPORTS */


/* VARIABLES */
$color_Link: whitesmoke;
$color_twitch: #772ce8;
$color_youtube: #FF0000;
$color_instagram:white;
$color_twitter: #1DA1F2;

$font_roboto: 'Roboto', sans-serif;

/* MIXINS */
@mixin socialLinks {
    text-decoration: none;
    border:none;
}


footer{
    
    background-image: linear-gradient(to bottom, pink, whitesmoke);
    border-top: 2px lightblue solid;

    #socialFooter{
        div{
            text-align: center;
            font-family: $font_roboto;
            font-size: 1rem;
            font-weight: bold;
            color: gray;

        }
    }

    ul{
        display: none;
        margin: 0 auto;
        width: 50%;
    }

    .showSocials{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    a{
        #twitch:hover,
        #twitch:focus{
            color: $color_twitch;
            @include socialLinks();
        }

        #youtube:hover,
        #youtube:focus{
            color: $color_youtube;
            @include socialLinks();
        }

        #instagram:hover,
        #instagram:focus{
            color: $color_instagram;
            @include socialLinks();
        }

        #twitter:hover,
        #twitter:focus{
            color: $color_twitter;
            @include socialLinks();
        }

            i{
                color: grey;
                font-size: 1rem;
                padding: 8px;
                letter-spacing: 3px;
            } 
        }   
}
