/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* VARIABLES */
$color_Link: whitesmoke;
$font_nav: 'Roboto', sans-serif;

/* MIXINS */


header{
    height: 6rem;
    background-image: linear-gradient(to right, pink, whitesmoke);
    border-bottom: 2px red solid;

    nav{
        display: block;
        margin: 0 auto ;
        width: 70%;
        padding-top: 2%;

        a{
            font-family: 'Roboto', sans-serif;
            color: $color_Link;
            text-shadow: 1px 1px #111;
        }

        button{
            display: none;
            padding: 8px;
            font-size: 2.5rem;
            color: whitesmoke;
            background-color: transparent;
            border: none;
        }
    }

    img{
        background-color: white;
        border-radius: 50%;
        border: 4px gold solid;
        padding: 4px;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 3.5rem;
        left: 5%;
        z-index: 999;
    }
}

