/* IMPORTS */

/* VARIABLES */
$font_roboto: 'Roboto', sans-serif;

/* MIXINS */
@mixin Table {
    border: 1px lightblue solid;
    background-color: rgba(245, 245, 245, 0.5);
    font-family: $font_roboto;
}

/* Container for Flex */
#mainMemes{
    display: block;
    margin: auto 10%;

    h2{
        text-align: center;
        color: whitesmoke;
        font-family: $font_roboto;
        font-size: 1.5rem;
        padding: 8px;
        text-shadow: 1px 1px #111;
    }

    table,
    th,
    tr,
    td{
        @include Table()
    }

    table{
        margin: auto 15%;
    }

    th{
        padding: 4px;
        background-color: lightblue;
    }

    td{
        text-align: center;
        font-family: 'Trebuchet MS', sans-serif;
        padding: 8px;

        h4{
            text-decoration: underline;
            padding: 4px;
        }

        .imageContainer{
            text-align: center; // centers images, yes really

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            span{
                font-size: 5rem;
                vertical-align: middle;
            }
        }
    }

    hr{
        margin: 2% 1%;
        color: whitesmoke;
        height: 1px;
    }

    #highlightSection{
        display: block;
        margin: auto 25%;
        padding-bottom: 5%;

        h3{
            text-align: left;
            padding: 4px;
            color: pink;
            font-family: $font_roboto;
            text-shadow: 1px 1px #111;
        }

        p{
            border: 1px whitesmoke solid;
            border-radius: 10px;
            background-color: rgba(211, 211, 211, .7);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

            padding: 8px;
            line-height: 20px;
        }
    }

   
}

/* Memes & Highlights Media Query */
@media screen and (max-width: 1040px) {

    td{
        font-size: 1.1rem;
    }

    h3{
        font-size: 1.1rem;
    }

    p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 775px) {

        .imageContainer{

            font-size: 5rem;

            img{
                display: block;
                width: auto;
                max-width: 100%;
                min-width: 100%;
            }
        }
}