/* IMPORTS */

/* VARIABLES */
$font_roboto: 'Roboto', sans-serif;

/* MIXINS */
@mixin Table {
    border: 1px lightblue solid;
    background-color: rgba(245, 245, 245, 0.5);
    font-family: $font_roboto;
}


#mainMemes{
    display: block;
   
    h2{
        text-align: center;
        color: whitesmoke;
        font-family: $font_roboto;
        font-size: 1.5rem;
        padding: 8px;
        text-shadow: 1px 1px #111;
    }

    table,
    th,
    tr,
    td{
        @include Table()
    }

    table{
        margin: auto 15%;
    }

    th{
        padding: 4px;
        background-color: lightblue;
    }

    td{
        text-align: center;
        font-family: 'Trebuchet MS', sans-serif;
        padding: 8px;

        h4{
            text-decoration: underline;
            padding: 4px;
        }

        .imageContainer{
            text-align: center; // centers images, yes really

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            span{
                font-size: 5rem;
                vertical-align: middle;
            }
        }
    }

    hr{
        margin: 2% 1%;
        color: whitesmoke;
        height: 1px;
    }

    #highlightSection{
        display: block;
        margin: 1% 10%;
        padding-bottom: 5%;

        h3{
            text-align: left;
            padding: 4px;
            color: pink;
            font-family: $font_roboto;
            text-shadow: 1px 1px #111;
        }

        p{
            margin: 4px;
            border: 1px whitesmoke solid;
            border-radius: 10px;
            background-color: rgba(211, 211, 211, .7);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

            padding: 8px;
            line-height: 20px;
        }
    }

   
}

@media screen and (max-width: 480px) {

    
    /* /// Memes & Highlights /// */

    // border: red solid 2px;

    #mainMemes{
        table{
            margin: auto 1%;

            td{

                padding: 2px;
                
                img{
                    max-width: 80%;
                }
            }
        } 
        
    }
}

/* Tablet */
@media screen and (max-width: 770px) and (min-width: 480px) {
   
    /* Header */
    nav{
        
        ul{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            margin-top: 5%;
            margin-left: 10%;

            li{
                padding: 0 2px;
                a{
                    font-size: 16px;
                }
            }
        }
    } 
    
    /* Main */
    h1{
        font-size: 4rem;
    }

    #mainMemes{
        table{
            margin: auto 1%;

            td{

                padding: 2px;
                
                img{
                    max-width: 90%;
                }
            }
        } 
        
    }
   
}