/* IMPORTS */ /* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* VARIABLES */
/* MIXINS */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
header {
  height: 6rem;
  background-image: linear-gradient(to right, pink, whitesmoke);
  border-bottom: 2px red solid;
}
header nav {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding-top: 2%;
}
header nav a {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  text-shadow: 1px 1px #111;
}
header nav button {
  display: none;
  padding: 8px;
  font-size: 2.5rem;
  color: whitesmoke;
  background-color: transparent;
  border: none;
}
header img {
  background-color: white;
  border-radius: 50%;
  border: 4px gold solid;
  padding: 4px;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 3.5rem;
  left: 5%;
  z-index: 999;
}

/* IMPORTS */
/* VARIABLES */
/* MIXINS */
footer {
  background-image: linear-gradient(to bottom, pink, whitesmoke);
  border-top: 2px lightblue solid;
}
footer #socialFooter div {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: gray;
}
footer ul {
  display: none;
  margin: 0 auto;
  width: 50%;
}
footer .showSocials {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
footer a #twitch:hover,
footer a #twitch:focus {
  color: #772ce8;
  text-decoration: none;
}
footer a #youtube:hover,
footer a #youtube:focus {
  color: #FF0000;
  text-decoration: none;
}
footer a #instagram:hover,
footer a #instagram:focus {
  color: white;
  text-decoration: none;
}
footer a #twitter:hover,
footer a #twitter:focus {
  color: #1DA1F2;
  text-decoration: none;
}
footer a i {
  color: grey;
  font-size: 1rem;
  padding: 8px;
  letter-spacing: 3px;
}

/* IMPORTS */
/* VARIABLES */
/* MIXINS */
.mainDisclaimer {
  height: 100vh;
  background-size: cover;
}
.mainDisclaimer p {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 1rem;
  max-height: 100%;
  max-width: 100%;
  background-color: rgba(245, 245, 245, 0.5);
  border: 1px whitesmoke solid;
  text-align: center;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.formContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 25%;
  background-color: lightblue;
  border: 1px whitesmoke solid;
}
.formContainer h4 {
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  color: whitesmoke;
  font-size: 1.4rem;
}
.formContainer form {
  display: block;
  margin: auto 25%;
  width: 50%;
}
.formContainer form label {
  padding: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.formContainer form input {
  outline: none;
  font-size: 1rem;
}
.formContainer form #submit {
  margin: 8px;
  padding: 4px;
  border: 1px whitesmoke solid;
  border-radius: 10px;
  font-size: 1.1rem;
}
.formContainer form #submit:hover, .formContainer form #submit:focus {
  cursor: pointer;
  background-color: whitesmoke;
  color: grey;
}

@media screen and (max-width: 775px) {
  .mainDisclaimer p {
    width: 90%;
  }
  .formContainer {
    margin: 1% 5%;
  }
}
/* IMPORTS */
/* VARIABLES */
/* MIXINS */
/* Container for Flex */
#mainMemes {
  display: block;
  margin: auto 10%;
}
#mainMemes h2 {
  text-align: center;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding: 8px;
  text-shadow: 1px 1px #111;
}
#mainMemes table,
#mainMemes th,
#mainMemes tr,
#mainMemes td {
  border: 1px lightblue solid;
  background-color: rgba(245, 245, 245, 0.5);
  font-family: "Roboto", sans-serif;
}
#mainMemes table {
  margin: auto 15%;
}
#mainMemes th {
  padding: 4px;
  background-color: lightblue;
}
#mainMemes td {
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  padding: 8px;
}
#mainMemes td h4 {
  text-decoration: underline;
  padding: 4px;
}
#mainMemes td .imageContainer {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
#mainMemes td .imageContainer span {
  font-size: 5rem;
  vertical-align: middle;
}
#mainMemes hr {
  margin: 2% 1%;
  color: whitesmoke;
  height: 1px;
}
#mainMemes #highlightSection {
  display: block;
  margin: auto 25%;
  padding-bottom: 5%;
}
#mainMemes #highlightSection h3 {
  text-align: left;
  padding: 4px;
  color: pink;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px #111;
}
#mainMemes #highlightSection p {
  border: 1px whitesmoke solid;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.7);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding: 8px;
  line-height: 20px;
}

/* Memes & Highlights Media Query */
@media screen and (max-width: 1040px) {
  td {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 775px) {
  .imageContainer {
    font-size: 5rem;
  }
  .imageContainer img {
    display: block;
    width: auto;
    max-width: 100%;
    min-width: 100%;
  }
}
/* VARIABLES */
/* MIXINS */
/* STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: url("../imgs/Backgrounds/rcdee_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerContainer {
  background-image: linear-gradient(to bottom, #ffb7c5, whitesmoke);
}
.bannerContainer .banner {
  display: block;
  background-image: url("../imgs/Backgrounds/pixel-art/banner_tree.png");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20vh;
  max-width: 100%;
  -webkit-animation: bannerChange 30s infinite ease-in-out alternate;
          animation: bannerChange 30s infinite ease-in-out alternate;
}

@-webkit-keyframes bannerChange {
  0% {
    background-image: url("../imgs/Backgrounds/pixel-art/banner_tree.png");
  }
  25% {
    background-image: url("../imgs/Backgrounds/pixel-art/banner_train.png");
  }
  50% {
    background-image: url("../imgs/Backgrounds/pixel-art/banner_garden.png");
  }
  100% {
    background-image: url("../imgs/Backgrounds/pixel-art/banner_bar.png");
  }
}

@keyframes bannerChange {
  0% {
    background-image: url("../imgs/Backgrounds/pixel-art/banner_tree.png");
  }
  25% {
    background-image: url("../imgs/Backgrounds/pixel-art/banner_train.png");
  }
  50% {
    background-image: url("../imgs/Backgrounds/pixel-art/banner_garden.png");
  }
  100% {
    background-image: url("../imgs/Backgrounds/pixel-art/banner_bar.png");
  }
}
h1 {
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  font-family: "Bebas Neue", cursive;
  text-shadow: 1px 1px 2px #111;
  letter-spacing: 20px;
}

/* complete about section */
.about {
  /* height: 100vh; */
  padding-bottom: 2rem;
  background-color: rgba(245, 245, 245, 0.5);
  /* robcdee image */
}
.about img {
  height: 200px;
  width: 225px;
  margin: 1rem;
  border: 4px gold solid;
  border-radius: 10px;
  position: relative;
  top: 0;
  left: 1rem;
}
.about #omegalul {
  border: none;
  height: 40px;
  width: 42.6666666667px;
  padding: 0;
  margin: 4px;
  transform: translateY(4px);
  transform: translateX(-1rem);
}

/* about container, text and images about robcdee */
.blogContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 10%;
  background-color: rgba(17, 17, 17, 0.5);
  border: 1px whitesmoke solid;
}

.blogText {
  padding: 1rem;
  align-self: stretch;
}
.blogText h2 {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  padding: 4px;
}
.blogText a {
  color: whitesmoke;
  text-decoration: none;
}
.blogText a:hover,
.blogText a:focus {
  text-decoration: underline;
}
.blogText p {
  padding: 4px;
  margin-bottom: 1rem;
  font-family: "Trebuchet MS", sans-serif;
  color: whitesmoke;
}

#socialFooter {
  display: block;
  margin: auto;
  width: 50%;
  padding: 1rem;
}
#socialFooter button {
  display: block;
  margin: auto;
  width: 50%;
  background-color: transparent;
  border: none;
}
#socialFooter button:hover, #socialFooter button:focus {
  cursor: pointer;
}
#socialFooter button i {
  text-align: center;
  font-size: 2rem;
  color: gray;
}

/* Navigation in header & footer */
ul li {
  display: inline;
  padding: 4px;
  margin: 1rem;
}
ul a {
  font-size: 1.5rem;
  color: whitesmoke;
  text-decoration: none;
}
ul a:hover, ul a:focus {
  color: rgb(255, 255, 200);
  text-decoration: underline;
}
ul a:not([href]) {
  color: lightblue;
}

/* ////////////////////// */
/* MEDIA QUERY MAIN PAGE */
/* ////////////////////// */
/* Nav resolution */
@media screen and (max-width: 1040px) {
  li a {
    font-size: 1.2rem;
  }
  header nav {
    padding-top: 5%;
  }
}
/* Tablet & Laptop */
@media screen and (max-width: 775px) {
  /* Header */
  nav ul {
    display: none;
    width: 100%;
  }
  nav ul li {
    margin: 0;
    padding: 0 4px;
    background-color: rgba(173, 216, 230, 0.75);
    z-index: 999;
  }
  nav #hamburgerButton {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 50%;
  }
  nav #hamburgerButton:hover, nav #hamburgerButton:focus {
    cursor: pointer;
  }
  nav ul.show {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 2px 4px;
  }
  /* Main */
  h1 {
    font-size: 2.5rem;
    padding: 1px 1rem;
  }
  .bannerContainer {
    overflow: visible;
  }
  .banner {
    height: 10vh;
  }
  .imageContainer {
    display: block;
    margin: auto;
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */