/* IMPORTS */
@import "../style/header";
@import "../style//footer";
@import "../style/disclaimer";
@import "../style/memes&Highlights";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* VARIABLES */
$font-size_NAV_header: 1.5rem;
$color_blogLink: whitesmoke;
$color_text: whitesmoke;
$color_cherryBlossom: #ffb7c5;
$color_hover: rgb(255, 66, 145);

$font_roboto: 'Roboto', sans-serif;
$font_BebasNeue: 'Bebas Neue', cursive;

/* MIXINS */
@mixin Navigations {    
    display: inline;
    padding: 4px;
    margin: 1rem;
}

@mixin LinksNav {
    font-size: $font-size_NAV_header;
    color: whitesmoke;
    text-decoration: none;
}

@mixin LinksFooter {
    font-size: $font-size_NAV_header;
    text-decoration: none;
}

@mixin BlogImg () {
    height: clamp((800px / 8), (800px / 4), (800px / 2));
    width: clamp((900px / 8), (900px / 4), (900px / 2));
    margin: 1rem;

    border: 4px gold solid;
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 1rem;
}

/* STYLE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-image: url("../imgs/Backgrounds/rcdee_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.bannerContainer{
    background-image: linear-gradient(to bottom, $color_cherryBlossom, whitesmoke);

    .banner{
        display: block;

        background-image: url("../imgs/Backgrounds/pixel-art/banner_tree.png");
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        

        height: 20vh;
        width:clamp(100%, 50%, 25%);

        animation: bannerChange 30s infinite ease-in-out alternate;
    }
}

@keyframes bannerChange {
    0%{
        background-image: url("../imgs/Backgrounds/pixel-art/banner_tree.png");
    }
    25%{
        background-image: url("../imgs/Backgrounds/pixel-art/banner_train.png");
    }
    50%{
        background-image: url("../imgs/Backgrounds/pixel-art/banner_garden.png");
    }
    100%{
        background-image: url("../imgs/Backgrounds/pixel-art/banner_bar.png");
    }

}

h1{
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
    font-family: $font_BebasNeue;
    text-shadow: 1px 1px 2px #111;
    letter-spacing: 20px;
}

/* complete about section */
.about{
    /* height: 100vh; */
    padding-bottom: 2rem;
    background-color: rgba(245, 245, 245, 0.5);

        /* robcdee image */
        img{
            @include BlogImg();
        }

        #omegalul{
            height: (120px / 3.5);
            width: (128px / 3.5);
            /*
            margin: 4px;
            transform: translateY(4px);
            transform: translateX(-1rem); */
            content: url('../imgs/OMEGALUL.png');
        }

}

/* about container, text and images about robcdee */
.blogContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto 10%;
    background-color: rgba(17, 17, 17, 0.5);
    border: 1px whitesmoke solid;
}

.blogText{
    padding: 1rem;
    align-self: stretch;

    h2{
        color: $color_text;
        font-family: $font_roboto;
        padding: 4px;
    }

    a{
        color: $color_blogLink;
        text-decoration: none;
    }

    a:hover,
    a:focus{
        text-decoration: underline;
    }

    p{
        padding: 4px;
        margin-bottom: 1rem;
        font-family: 'Trebuchet MS', sans-serif;
        color: whitesmoke;
    }
}

#socialFooter{
    display: block;
    margin: auto;
    width: 50%;
    padding: 1rem;

    button{
        display: block;
        margin: auto;
        width: 50%;
        background-color: transparent;
        border: none;

        &:hover,
        &:focus{
            cursor: pointer;
        }

        i{
            text-align: center;
            font-size: 2rem;
            color: gray;
        }
    }
}

/* Navigation in header & footer */
ul{
    li{
        @include Navigations();
    }
    a{
        @include LinksNav();

        &:hover,
        &:focus{
            color: $color_hover;
            border: $color_hover 2px solid;
        }

        &:not([href]){
            color: dimgray;
        }
    }
}

                                                        /* ////////////////////// */
                                                        /* MEDIA QUERY MAIN PAGE */
                                                        /* ////////////////////// */

/* Nav resolution */
@media screen and (max-width: 1040px) {
    li a{
        font-size: 1.2rem;
    } 
    
    header{
        nav{
            padding-top: 5%;
        }
    }
}


/* Tablet & Laptop */                                                        
@media screen and (max-width: 775px) {

    /* Header */
    nav{
        
        ul{
            display: none;
            width: 100%;

            li{
                margin: 12px;
                padding: 0 4px;
                z-index: 999;
            }
        }

        #hamburgerButton{
            display: block;
            text-align: center;
            margin: 0 auto;
            width: 50%;

            &:hover,
            &:focus{
                cursor: pointer;
            }
        }

        ul.show{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            height: 100%;
            text-align: center;
            padding: 1rem;
        }
       }


    /* Main */
    h1{
        font-size: 2.5rem;
        padding: 1px 1rem;
    }

    /* .bannerContainer{
        overflow: visible;
    } */

    .banner{
        height: 10vh;
    }

    .imageContainer{
        width: 100%;
        max-width: 50%;
        height: auto;
    }
    
}
